<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Mes t&acircches</h1>
</section>

<section class="content">

    <!-- 1er tableau : les taches que l'etudiant a recues -->
    <div class="box box-task">
        <!-- Titre du tableau -->
        <div class="box-header">
            <h3 class="box-title">T&acircches Re&ccedilues</h3>
            <button class="btn btn-sm btn-primary pull-right" onclick="suprimeVALIDTask()">Supprimer les t√¢ches r√©alis√©es</button>
        </div>
        <!-- Corps du tableau -->
        <div class="box-body">
            <table class="table table-bordered table-striped table-task">
                <thead>
                <tr>
                    <th style="width: 5%;">N¬∞</th>
                    <th style="width: 12%;">Re√ßu le</th>
                    <th style="width: 12%;">&Eacutech&eacuteance</th>
                    <th>De</th>
                    <th>Objet</th>
                    <th style="width: 11%;">Importance</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% set numTache = 0 %}
                <!-- Exemple d'une t√¢che -->
                {% for task in myTasks.tasksReceived %}
                    {% set numTache = numTache+1 %}
                    {% set today = "now"|date("Y-m-d-H-i") %}
                    {% set today_5days = "now+5days"|date("Y-m-d-H-i") %}
                    <!-- Taches importantes - deadline qui approche (sous 5 jours) -->

                    {% if (task.getDatefin()|date("Y-m-d-H-i") <= today_5days ) and (task.getDatefin()|date("Y-m-d-H-i") >= today)%}
                        <!-- <tr style="background-color: rgba(255, 0, 0, 0.5);">
                        -->
                    <!-- Echeance depassee -->
                    {% elseif task.getDatefin()|date("Y-m-d-H-i")  < today %}
                      <!--  <tr style="background-color: rgba(255, 255, 0, 0.5);">-->
                    {% else %}
                        <!--<tr>-->
                    {% endif %}
                    <tr>
                        <td>{{ numTache }}</td>
                        <td>{{ task.getDatecreation()|date("Y/m/d") }}</td>
                        <td>{{ task.getDatefin()|date("Y/m/d") }}</td>

                        {% if task.getIdgestionnaire() is empty %}
                            <!-- Tache attribue par un etudiant lui meme -->
                            <td> Moi-meme </td>
                        {% else %}
                            <!-- Tache attribue par un gestionnaire -->
                            <td>
						{% set continue = false %}
                              {% for admin in myTasks.admins %}
                 					{% if admin.id == task.getIdgestionnaire() and continue==false %}
                 						{{ admin.prenom}} {{ admin.nom }}
                 						{% set continue = true %}
                                    {% endif %}
                			{% endfor %}
                            </td>
                        {% endif %}
                        <td>
                            {{ task.getNom() }}

                            {% if today|date("Y-m-d-H-i") > task.getDatefin()|date("Y-m-d-H-i") %}
                                {% set difference = date(today).diff(date(task.getDatefin())) %}
                                {% set differenceInDays = difference.days %}
                                <small class="label label-warning pull-right">
                                    <i class="fa fa-clock-o"></i> J+{{ differenceInDays }}
                                </small>
                            {% elseif (task.getDatefin()|date("Y-m-d-H-i") <= today_5days|date("Y-m-d-H-i")) and (task.getDatefin()|date("Y-m-d-H-i") >= today|date("Y-m-d-H-i"))%}
                                {% set difference = date(task.getDatefin()).diff(date(today)) %}
                                {% set differenceInDays = difference.days %}
                                <small class="label label-danger pull-right">
                                    <i class="fa fa-clock-o"></i> J-{{ differenceInDays }}
                                </small>
                            {% endif %}

                        </td>
                        <!-- Icone "importance" -->
                        <td style="text-align: center;">
                            <i class="fa fa-exclamation-triangle importance{{ task.getImportance() }}">
                                <div style="display: none;">{{ task.getImportance() }}</div>
                            </i>
                        </td>

                        <!-- Icone "voir d√©tail" -->
                        <td style="text-align: center;">
                            <a href="#infos_task_{{ numTache }}" data-toggle="modal">
                                <i class="fa fa-search"></i>
                            </a>
                        </td>
                        <!-- Debut modal view -->
                        <div class="modal fade" id="infos_task_{{ numTache }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- En tete -->
                                    <div class="modal-header modal-header-task">
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <div class="modal-title">Tache n¬∞{{ numTache }} - {{ task.getNom() }}</div>
                                    </div>
                                    <!-- En tete pr√©sentant le body -->
                                    <div class="modal-header modal-before-body">

                                        {% if task.getIdgestionnaire() is empty %}
                                            <!-- Tache attribue par un etudiant lui meme -->
                                            De : Moi-meme
                                        {% else %}
                                            <!-- Tache attribue par un gestionnaire -->
                                            De : 
                                             {% for admin in myTasks.admins %}
                 								{% if admin.id == task.getIdgestionnaire() %}
                 									{{ admin.prenom}} {{ admin.nom }}
                 								{% endif %}
                							{% endfor %}
                                        {% endif %}

                                        <div class="date_modal">
                                            <div class="date_debut">Date d'attribution : {{	task.getDatecreation()|date("d/m/Y") }}</div>
                                            <div class="date_fin pull-right">√âch√©ance : {{ task.getDatefin()|date("d/m/Y") }} √† {{ task.getDatefin()|date("H:i") }}</div>
                                        </div>
                                    </div>
                                    <!-- Corps -->
                                    <div class="modal-body">
                                        <h4>Contenu :</h4>
                                        <p>
                                        
                                        {% set type = task.getType() %}
                                        {% set array = task.getStructure()|slice(2,(task.getStructure()|length)-4)|split("\",\"") %}
                                        {% if type == 7 %}
                                        
                                        	<div>Texte : {{array[0]}}</div>
                                        	
                                       	{%endif%}
                                        </p>
                                    </div>
                                    <!-- Footer -->
                                    <div class="modal-footer">
                                        {% if task.getIdgestionnaire() is empty %}
                                          <!--  <button class="btn btn-primary pull-left" onclick="doneTask('{{ task.getId() }}')">
                                                <span class="fa fa-check-square-o"></span> Fait
                                            </button> -->
                                            <!-- TODO :  Faire passer la piece jointe -->
                                            {% set dateFin = task.getDatefin()|date("d/m/Y H:i") %}
                                            <button data-dismiss="modal" class="btn btn-primary pull-left" onclick="editTask('{{ task.getId() }}', '{{ dateFin }}','{{ task.getNom() }}','{{ task.getImportance() }}','{{ task.getStructure() }}')">
                                                <span class="fa fa-pencil-square-o"></span> Editer
                                            </button>
                                            <button class="btn btn-primary pull-left" onclick="removeTask('{{ task.getId() }}')" data-dismiss="modal">
                                                <span class="fa fa-times"></span> Supprimer
                                            </button>
                                        {% else %}
                                            {% for admin in myTasks.admins %}
                                                {% if admin.id == task.getIdgestionnaire() %}
                                                    <a href="#replyTask" data-toggle="modal" data-dismiss="modal" onclick="replyTask('title_replyTask', 'body_replyTask', '{{ task.getId() }}', '{{ task.getType() }}', '{{ task.getNom() }}', '{{ admin.prenom }}', '{{ admin.nom }}')">
                                                        <div class="btn btn-primary pull-left">
                                                            <span class="fa fa-reply"></span> R√©pondre
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            {% endfor %}

                                            <!--
                                            <button class="btn btn-primary pull-left" onclick="replyTask()">
                                                <span class="fa fa-reply"></span> R√©pondre
                                            </button>
                                            -->
                                        {% endif %}
                                        <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin modal view -->
                    </tr>
                {% else %}
                    <!-- besoin d'avoir le mÔøΩme nombre de cellules, sinon erreur javascript -->
                    <tr class="sous_ensemble">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: left; padding-left: 20px;">Aucune tache
                            re&ccedilue</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


    <!-- Debut modal view -->
    <div class="modal fade" id="replyTask">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- En tete -->
                <div class="modal-header modal-header-task">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <div id="title_replyTask" class="modal-title"></div>
                </div>
                <!-- Corps -->
                <div id="body_replyTask" class="modal-body"></div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="sendReply()">Envoyer</button>
                    <button class="btn btn-primary" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal view -->

    <!-- 2eme tableau : les taches que l'etudiant a envoyees -->
    <div class="box box-task">
        <!-- Titre du tableau -->
        <div class="box-header">
            <h3 class="box-title">T&acircches envoy&eacutees</h3>
            <button class="btn btn-sm btn-primary pull-right" onclick="suprimeVALIDTaskSended()">Supprimer les t√¢ches r√©alis√©es</button>
        </div>
        <!-- Corps du tableau -->
        <div class="box-body">
            <table class="table table-bordered table-striped table-task">
                <thead>
                <tr>
                    <th style="width: 5%;">N¬∞</th>
                    <th style="width: 12%;">Envoy&eacutee le</th>
                    <th style="width: 12%;">&Eacutech&eacuteance</th>
                    <th>√Ä</th>
                    <th>Objet</th>
                    <th style="width: 11%;">Importance</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for task in myTasks.tasksSend %}
                    {% set numTache = numTache+1 %}
                    <tr>
                        <td>{{ numTache }}</td>
                        <td>{{ task.getDatecreation()|date("Y/m/d") }}</td>
                        <td>{{ task.getDatefin()|date("Y/m/d") }}</td>
                        <td>{{ myTasks.adminsTaskSend[loop.index0].getNom() }} {{	myTasks.adminsTaskSend[loop.index0].getPrenom() }}</td>
                        <td>{{ task.getNom() }}</td>
                        <!-- Icone "importance" -->
                        <td style="text-align: center;">
                            <i class="fa fa-exclamation-triangle importance{{ task.getImportance() }}">
                                <div style="display: none;">{{ task.getImportance() }}</div>
                            </i>
                        </td>

                        <!-- Icone "voir d√©tail" -->
                        <td style="text-align: center;">
                            <a href="#infos_task_{{ numTache }}" data-toggle="modal">
                                <i class="fa fa-search"></i>
                            </a>
                        </td>
                        <!-- Debut modal view -->
                        <div class="modal fade" id="infos_task_{{ numTache }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- En tete -->
                                    <div class="modal-header modal-header-task">
                                        <button type="button" class="close" data-dismiss="modal">x</button>
                                        <div class="modal-title">Tache n¬∞{{ numTache }} - {{ task.getNom() }}
										 <i class="fa fa-exclamation-triangle importance{{ task.getImportance() }}">
                                			<div style="display: none;">{{ task.getImportance() }}</div>
                            			 </i>
                            			 
                                        </div>
                                       
                                    </div>
                                    <!-- En tete pr√©sentant le body -->
                                    <div class="modal-header modal-before-body">
                                        √Ä : {{ myTasks.adminsTaskSend[loop.index0].getNom() }} {{	myTasks.adminsTaskSend[loop.index0].getPrenom() }}
                                        <div class="date_modal">
                                            <div class="date_debut">Date d'envoi : {{ task.getDatecreation()|date("d/m/Y") }}</div>
                                            <div class="date_fin pull-right">√âch√©ance : {{ task.getDatefin()|date("d/m/Y") }} √† {{ task.getDatefin()|date("H:i") }}</div>
                                        </div>
                                    </div>
                                    <!-- Corps -->
                                    <div class="modal-body">
                                        <h4>Contenu :</h4>
                                        <p>
                                        {% set type = task.getType() %}
                                        {% set array = task.getStructure()|slice(2,(task.getStructure()|length)-4)|split("\",\"") %}
                                        {% if type == 2 %}
                                        
                                        	<div>Date et duree de l'absence : {{array[0]}}</div>
                                        	<div>Motif de justification : {{array[1]}}</div>
                                        	
                                        {% elseif type == 3 %}

                                        	<div>Date et heure : {{array[0]}}</div>
                                        	<div>Motif du rendez-vous : {{array[1]}}</div>
                                        	
                                        {% elseif type == 4 %}
                                        
                                        	
                                        	<div>Commentaire : {{array[0]}}</div>
                                        	
                                        {% elseif type == 5 %}
                                        
                                        	<div>Motif d'inscription : {{array[0]}}</div>
                                        	
                                        {% elseif type == 6 %}
                                        
                                        	<div>Dates de dÈbut et de fin du stage : {{array[0]}}</div>
                                        	<div>Detail :  {{array[1]}}</div>
                                        {% elseif type == 8 %}
                                        
                                        	<div>Texte :  {{array[0]}}</div>
                                        	
                                        {% endif %}
                                        	
                                        </p>
                                    </div>
                                    <!-- Footer -->
                                    <div class="modal-footer">
                                        <button href="#modal_relance" class="btn btn-primary pull-left" data-toggle="modal" data-dismiss="modal">
                                            <span class="fa fa-reply"></span> Relancer
                                        </button>
                                        <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin modal view -->
                    </tr>
                {% else %}
                    <!-- besoin d'avoir le mÔøΩme nombre de cellules, sinon erreur javascript -->
                    <tr class="sous_ensemble">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align: left; padding-left: 20px;">Aucune tache
                            envoy&eacutee</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Debut modal view -->
    <div class="modal fade" id="modal_relance">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- En tete -->
                <div class="modal-header modal-header-task">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <div class="modal-title">Confirmation de relance</div>
                </div>
                <!-- Corps -->
                <div id="body_replyTask" class="modal-body">
                    Souhaitez-vous vraiment relancer le destinataire pour cette t√¢che?
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="alert('TODO')"><span class="fa fa-check"></span>Oui</button>
                    <button class="btn btn-primary" data-dismiss="modal"><span class="fa fa-times"></span>Non</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal view -->

    <!-- Debut modal view -->
    <div class="modal fade" id="modal_editTask">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- En tete -->
                <div class="modal-header modal-header-task">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <div class="modal-title">Modification de tache</div>
                </div>
                <!-- Corps -->
                <div id="body_replyTask" class="modal-body">
                    {% include '@PolytechDashboardHome/Default/pages/tasks/edit_task.html.twig' %}

                </div>
                <!-- BEG Form -->

                <!-- END Form -->
                <!-- Footer -->
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="$('#insertTaskForm').trigger("reset")"><span class="fa fa-times"></span>Annuler</button>
                    <button class="btn btn-primary" data-dismiss="modal" onclick="updateTask('insertTaskForm')"><span class="fa fa-check"></span>Mettre √† jour</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal view -->



</section>
