{% extends 'PolytechDashboardHomeBundle:Default:base.html.twig' %}


{%  block title %}
    Dashboard Polytech'Paris-Sud
{% endblock %}

{% block body %}
    <div class="wrapper">

        <!-- PARTIE DU HAUT -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" onclick="activateTag('main_dashboard')" class="logo"><b>myDashboard</b></a>           <!-- LOGO EN HAUT A GAUCHE -->
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <!-- BARRE DE NAVIGATION EN HAUT -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">


                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span id="nbNotification" class="label label-warning"></span>
                            </a>
                            <ul class="dropdown-menu" style=" width: 310px !important;font-size: 12px;">
                                <li id="textNbNotification" class="header">Vous n'avez pas de nouvelles notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <div id="NotificationContainer">


                                    </div>

                                </li>
                                <!--<li class="footer"><a href="#">View all</a></li>-->
                            </ul>
                        </li>
                        <!-- COMPTE DE L'UTILISATEUR -->
                        <li class="dropdown user user-menu">
                            <!-- APERCU DE L'UTILISATEUR -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('dist/img/user2-160x160.jpg')}}" class="user-image" alt="User Image"/>
                                <span class="hidden-xs"> {{prenom}} {{nom}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- IMAGE DE L'UTILISATEUR -->
                                <li class="user-header">
                                    <img src="{{ asset('dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image" />
                                    <p>
                                        {{prenom}} {{nom}}
                                        <small>ET4 - Informatique</small>   <!-- TODO : a modifier -->
                                    </p>
                                </li>

                                <!-- MENU FOOTER -->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a class="btn btn-default btn-flat" href="#modal_profil" data-toggle="modal">Mon profil</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{path('polytech_dashboard_home_logout')}}" class="btn btn-default btn-flat">Déconnexion</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Debut modal view -->
        <div class="modal fade" id="modal_profil">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- En tete -->
                    <div class="modal-header modal-header-task">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <div class="modal-title">Mon profil</div>
                    </div>

                    <!-- Corps -->
                    <div class="modal-body">
                        <div class="form-group" style="vertical-align: middle;">
                            <div class="row"  style="margin: auto; vertical-align: middle;">
                                <div class="col-lg-3"></div>
                                <div id="profil_img" class="col-lg-3" style="margin:none;vertical-align: middle;">
                                    <img src="{{ asset('dist/img/user2-160x160.jpg')}}" class="user-image" alt="User Image" style="max-width: 100px; max-height: 100px;"/>

                                    <!-- TODO : etablir le changement de photo -->
                                    <div class="fileUpload btn btn-default btn-flat btn-sm" style="display:block; width:100px;margin:0;">
                                        <span class="fa fa-camera"></span> Modifier
                                        <input type="file" class="upload" />
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin: auto; height: 100%; vertical-align: middle;" >
                                    <p> {{prenom}} {{nom}}</p>
                                    <p>ET4 - Informatique</p>
                                    <p>N° étudiant : {{ id }}</p>
                                    <p class="warning_profil_photo">
                                        <i class="icon fa fa-warning"></i>
                                        <label>Taille minimum de la photo : 100x100</label>
                                    </p>
                                </div>
                            </div>

                        </div>

                        <form>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <!-- TODO : Faire verifier le mot de passe et la confirmation -->
                                    <div id="id_div_password1" class="form-group">
                                        <label for="profil_InputPassword1">Nouveau mot de passe</label>
                                        <input type="password" class="form-control" id="profil_InputPassword1" onchange="verifyPassword('profil_InputPassword1','profil_InputPassword2', 'id_div_password1', 'id_div_password2')">
                                    </div>
                                    <div id="id_div_password2" class="form-group">
                                        <label for="profil_InputPassword2">Confirmation du mot de passe</label>
                                        <input type="password" class="form-control" id="profil_InputPassword2" onchange="verifyPassword('profil_InputPassword1','profil_InputPassword2')">
                                    </div>
                                    <div class="form-group">
                                        <label for="profil_InputEmail">Email</label>
                                        <input type="email" class="form-control" id="profil_InputEmail" value="mail@u-psud.fr">
                                    </div>
                                    <div class="form-group">
                                        <label for="profil_InputTel">Téléphone</label>
                                        <input type="tel" class="form-control" id="profil_InputTel">
                                    </div>


                                    <div class="modal-footer" style="border-top: none;">
                                        <button class="btn btn-primary">Enregistrer</button>
                                        <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            {% include 'PolytechDashboardHomeBundle:Default:pages/sidebar.html.twig' %}
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div id="main_dashboard" style="display:block;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/main_dashboard.html.twig' %}
            </div>
            <div id="my_space_study_level" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/formation/my_space_study_level.html.twig' %}
            </div>
            <div id="my_program" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/formation/my_program.html.twig' %}
            </div>
            <div id="my_tasks" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/tasks/my_tasks.html.twig' %}
            </div>
            <div id="assign_task" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/tasks/assign_task.html.twig' %}

            </div>
            <div id="my_grades" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/my_grades.html.twig' %}

            </div>
            <div id="planning" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/planning.html.twig' %}

            </div>
            <div id="my_notifications" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/my_notifications.html.twig' %}

            </div>
            <div id="contact" style="display:none;">
                {% include 'PolytechDashboardHomeBundle:Default:pages/contact.html.twig' %}

            </div>
        </div>
        <!-- /.content-wrapper -->


        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2015 </strong>  - Guillaume BLANCHARD, Cédric PORTANERI, Julien PREISNER, Yasser RABI   - All rights reserved.
        </footer>

    </div><!-- ./wrapper -->

{% endblock %}

{% block CustomFooterScript %}
    <style>
        .mark-read-btn:hover{
            color:blue
        }
        .mark-read-btn{
            height: ;
            background: transparent;
            color: #F2F2F2;

            /* CSS Transition */
            -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
            -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
            -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
            -o-transition: background .2s ease-in-out, border .2s ease-in-out;
            transition: background .2s ease-in-out, border .2s ease-in-out;

        }

        .btn-custom {

            background-color: #FFFFFF;
            border-color: #CCCCCC;
            color: #333333;
        }
        .btn-custom:hover {
            background-color: #009FFA;
            border-color: #fff;
            color: #fff;
        }
        .notification-style{
            display: block  !important; /* Fallback for non-webkit */
            display: -webkit-box !important;
            max-width: 400px !important;
            height: 12*1.4*5 !important; /* Fallback for non-webkit */
            margin: 0 auto !important;
            font-size: 12px !important;
            line-height: 1.4 !important;
            -webkit-line-clamp: 2 !important;
            -webkit-box-orient: vertical !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
        }
    </style>
    <script>
        function categoriefromId(idNotification,dataGroup){
            $.each(dataGroup, function (i, item) {
                if (item.id==idNotification){
                    return item.categorie;
                }
            });
            return null;
        }
        function updateNotificationByCategory(notificationCategory){
            //console.log("updateNotificationByCategory CALL = "+notificationCategory);
            $.ajax({
                type: 'POST',
                url: '/setNotificationCategoryAsRead',
                dataType: 'json',
                data: {'categorie': notificationCategory},
                success: function(data){
                    $.each(data, function (i, item) {
                        $("#notification"+item.id).html();
                        $("#notification"+item.id).remove();

                        var nbNotificationNONLU = parseInt($("#nbNotification").text(), 10);
                        nbNotificationNONLU--;
                        // console.log("nbNotificationNONLU = "+nbNotificationNONLU);

                        jQuery.expr[':'].regex = function(elem, index, match) {
                            var matchParams = match[3].split(','),
                                    validLabels = /^(data|css):/,
                                    attr = {
                                        method: matchParams[0].match(validLabels) ?
                                                matchParams[0].split(':')[0] : 'attr',
                                        property: matchParams.shift().replace(validLabels,'')
                                    },
                                    regexFlags = 'ig',
                                    regex = new RegExp(matchParams.join('').replace(/^s+|s+$/g,''), regexFlags);
                            return regex.test(jQuery(elem)[attr.method](attr.property));
                        }


                        if (nbNotificationNONLU <=0) {
                            //$("#nbNotification").css("display","none");
                            $("#nbNotification").html("");
                            $("#"+item.categorie+"-notification-tag").html("");
                            $(":regex(id,"+item.categorie+"-notification-tag.*)").html("");
                            $("#textNbNotification").html("Vous n'avez pas de nouvelles notifications");
                        } else if (nbNotificationNONLU == 1) {
                            $("#nbNotification").html(nbNotificationNONLU);
                            //$("#"+item.categorie+"-notification-tag").html("");
                            $(":regex(id,"+item.categorie+"-notification-tag.*)").html("");
                            $("#textNbNotification").html("Vous avez une notification");
                        } else {
                            $("#nbNotification").html(nbNotificationNONLU);
                            $("#"+item.categorie+"-notification-tag").html(nbNotificationNONLU);
                            $("#"+item.categorie+"-notification-tag").html("");
                            $(":regex(id,"+item.categorie+"-notification-tag.*)").html("");

                            //$("#"+item.categorie+"-notification-tag").html(parseInt($("#"+item.categorie+"-notification-tag").text(), 10)-1);
                            $("#textNbNotification").html("Vous avez " + nbNotificationNONLU + " notifications");
                        }
                    });
                }
            });
        }

        $( document ).ready(function() {
            var timer, delay = 50000;

            $.ajax({
                type: 'POST',
                url: '/notificationList',
                dataType: 'json',
                data: $('.ajaxform').serialize(),
                success: function (data) {

                    updateFunction(data);
                }
            });


            function updateNotificationById(idNotification,dataGroup){
                $.ajax({
                    type: 'POST',
                    url: '/setNotificationAsRead',
                    dataType: 'json',
                    data: {'id': idNotification},
                    success: function(data){

                    }
                });
                $("#notification"+idNotification).html();
                $("#notification"+idNotification).remove();

                var nbNotificationNONLU = parseInt($("#nbNotification").text(), 10);
                nbNotificationNONLU--;

                // console.log("nbNotificationNONLU = "+nbNotificationNONLU);
                function categoriefromId(idNotification,dataGroup){
                    $.each(dataGroup, function (i, item) {
                        if (item.id==idNotification){
                            return item.categorie;
                        }
                    });
                    return null;
                }

  /*              $("#"+categoriefromId(idNotification,dataGroup)+"-notification-tag").html(
                        parseInt($("#"+categoriefromId(idNotification,dataGroup)+"-notification-tag").text(), 10)-1);
*/
                $(":regex(id,"+categoriefromId(idNotification,dataGroup)+"-notification-tag.*)").html(
                        parseInt($("#"+categoriefromId(idNotification,dataGroup)+"-notification-tag").text(), 10)-1);

                if (nbNotificationNONLU <=0) {
                    //$("#nbNotification").css("display","none");
                    $("#nbNotification").html("");
                    $("#textNbNotification").html("Vous n'avez pas de nouvelles notifications");
                } else if (nbNotificationNONLU == 1) {
                    $("#nbNotification").html(nbNotificationNONLU);
                    $("#textNbNotification").html("Vous avez une notification");
                } else {
                    $("#nbNotification").html(nbNotificationNONLU);
                    $("#textNbNotification").html("Vous avez " + nbNotificationNONLU + " notifications");
                }
            }


            function updateFunction(data)
            {
                jQuery.expr[':'].regex = function(elem, index, match) {
                    var matchParams = match[3].split(','),
                            validLabels = /^(data|css):/,
                            attr = {
                                method: matchParams[0].match(validLabels) ?
                                        matchParams[0].split(':')[0] : 'attr',
                                property: matchParams.shift().replace(validLabels,'')
                            },
                            regexFlags = 'ig',
                            regex = new RegExp(matchParams.join('').replace(/^s+|s+$/g,''), regexFlags);
                    return regex.test(jQuery(elem)[attr.method](attr.property));
                }

                $("#NotificationContainer").html("<ul id=\"subNotificationContainer\" class=\"menu\"></ul>");
                var nbNotificationNONLU = 0;
                $(":regex(id,.*-notification-tag.*)").html("");
                $.each(data, function (i, item) {
                    if (item.status == "NONLU") {

                        nbNotificationNONLU++;

                        //console.log("Before \" "+item.categorie+"-notification-tag \" tag = $"+$("#"+item.categorie+"-notification-tag").text()+"$");

                        if($(":regex(id,"+item.categorie+"-notification-tag.*)").text()==""){
                            $(":regex(id,"+item.categorie+"-notification-tag.*)").html("0")
                           //$("#"+item.categorie+"-notification-tag").html("0");
                        }
                        $(":regex(id,"+item.categorie+"-notification-tag.*)").html(parseInt($("#"+item.categorie+"-notification-tag").text(), 10)+1);


                        //console.log("After \" "+item.categorie+"-notification-tag \" tag = $"+$("#"+item.categorie+"-notification-tag").text()+"$");

                        $("#subNotificationContainer").append(
                                "<li id=\"notification" + item.id + "\" >" +
                                "<a class='notification-style' href='#' onclick=\"activateTag('"+item.categorie+"') \">" +
                                "<i class=\"fa fa-warning text-yellow\"></i><button btnID=\""+item.id+"\" id=\"mark-as-read\" value=\"" + item.id + "\" class=\"btn btn-xs btn-custom\" ><span class=\"glyphicon glyphicon-ok\"></span></button> " +
                                ""+item.valeur+"" +
                                "</a>" +
                                "" +
                                "</li>"
                        );
                    }

                });
                if (nbNotificationNONLU == 0) {
                    //$("#nbNotification").css("display","none");
                    $("#nbNotification").html("");
                    $("#textNbNotification").html("Vous n'avez pas de nouvelles notifications");
                } else if (nbNotificationNONLU == 1) {
                    $("#nbNotification").html(nbNotificationNONLU);
                    $("#textNbNotification").html("Vous avez une notification");
                } else {
                    $("#nbNotification").html(nbNotificationNONLU);
                    $("#textNbNotification").html("Vous avez " + nbNotificationNONLU + " notifications");
                }




                $(":regex(id,mark-as-read.*)").click({'nbNotificationNONLU' : nbNotificationNONLU,'data':data},function (event) {

                    updateNotificationById($(this).attr("btnID"),event.data.data);

                    //var nbNotificationNONLU = event.data.nbNotificationNONLU;
                    //console.log("id ="+$(this).attr("btnID"));


                    //console.log($("#notification"+$(this).attr("btnID")).attr('value'));

                   /* $.ajax({
                        type: 'POST',
                        url: '/setNotificationAsRead',
                        dataType: 'json',
                        data: {'id': $(this).attr("btnID")},
                        success: function(data){

                        }
                    });
                    var btnid=$(this).attr("btnID");
                    $("#notification"+btnid).html();
                    $("#notification"+btnid).remove();
                    nbNotificationNONLU--;
                    event.data.nbNotificationNONLU--;
                   // console.log("nbNotificationNONLU = "+nbNotificationNONLU);
                    if (nbNotificationNONLU == 0) {
                        //$("#nbNotification").css("display","none");
                        $("#nbNotification").html("");
                        $("#textNbNotification").html("Vous n'avez pas de nouvelles notifications");
                    } else if (nbNotificationNONLU == 1) {
                        $("#nbNotification").html(nbNotificationNONLU);
                        $("#textNbNotification").html("Vous avez une notification");
                    } else {
                        $("#nbNotification").html(nbNotificationNONLU);
                        $("#textNbNotification").html("Vous avez " + nbNotificationNONLU + " notifications");
                    }
                    */
                });
            }


            timer = setInterval(function () {
                $.ajax({
                    type: 'POST',
                    url: '/notificationList',
                    dataType: 'json',
                    data: $('.ajaxform').serialize(),
                    success: function (data) {

                        updateFunction(data);
                    }
                });

            }, delay);


        });

    </script>
{% endblock %}

