<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Mon programme
    </h1>
</section>

<!-- Content -->
<section class="content">
    <section class="sidebar sidebar-program" style="width:90%;margin:auto;text-align:center;">
        <ul class="sidebar-menu">
            {% for numSemestre in 1..10 %}
              {% set semestreOk = 0 %}
              {% for prog in myUE %}
                 {% if prog.ue.getSemestre() == numSemestre %}
                    {% set semestreOk = 1 %}
                 {% endif%}
              {%endfor%}
              {% if semestreOk == 1 %}
            <!-- Onglet S7 -->
            <li class="treeview">
                <a href="#" id="semestre1" onclick="activeSemestre('semestre1')">
                    <span><B>Semestre {{numSemestre}}</B></span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <!-- Semestre 1 -->
                    <table class="table table-program">
                        <thead>
                        <tr class="entete">
                            <th>Titre</th>
                            <th>ECTS</th>
                            <th>Coeff</th>
                            <th>Cours</th>
                            <th>C-TD</th>
                            <th>TD</th>
                            <th>TP</th>
                            <th>Projet</th>
                            <th>Total</th>
                            <th>Stage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- boucle sur toutes les UE de l'etudiant -->
                        {% for prog in myUE %}
                        {% if prog.ue.getSemestre() == numSemestre %}
                        <tr class="UE">
                            <th style="text-align: left;"> {{prog.ue.getNom()}} </th>
                            <th>{{ prog.ue.getECTS() }}</th>
                            <th>{{ prog.ue.getCoeff()}}</th>
                            
                            {% set coursHTot = 0 %}
                            {% set cTdHTot = 0 %}
                            {% set tdHTot = 0 %}
                            {% set tpHTot = 0 %}
                            {% set projetHTot = 0 %}
                            {% set stageHTot = 0 %}
                            {% set hTot = 0 %}
                            {% for cours in prog.cours %}
                            	{% set coursHTot = coursHTot + cours.getCoursH() %}
                                {% set cTdHTot = cTdHTot + cours.getCTdH() %}
                                {% set tdHTot = tdHTot + cours.getTdH() %}
                                {% set tpHTot = tpHTot + cours.getTpH() %}
                                {% set projetHTot = projetHTot + cours.getProjetH() %}
                                {% set stageHTot = stageHTot + cours.getStageH() %}
                            {%endfor%}  
                            {% set hTot = coursHTot + cTdHTot +  tdHTot + tpHTot +  projetHTot %}
                            
                            <th> {% if coursHTot != 0 %}
							{{ coursHTot }}
							{% endif %} </th>
                            <th>{% if cTdHTot != 0 %}
							{{ cTdHTot }}
							{% endif %}</th>
                            <th>{% if tdHTot != 0 %}
							{{ tdHTot }}
							{% endif %}</th>
                            <th>{% if tpHTot != 0 %}
							{{ tpHTot }}
							{% endif %}</th>
                            <th>{% if projetHTot != 0 %}
							{{ projetHTot }}
							{% endif %}</th>
                            <th>{% if hTot != 0 %}
							{{ hTot }}
							{% endif %}</th>
                            <th>{% if stageHTot != 0 %}
							{{ stageHTot }}
							{% endif %}</th>
                        </tr>

                        <!-- 1ère matière -->
                        {% for cours in prog.cours %}
                        <tr class="contenu_matiere">
                            <td style="text-align: left;">{{cours.getNomcours()}}</td>
                            <td></td>
                            <td>{% if cours.getCoefficient() != 0 %}
                            {{cours.getCoefficient()}}
                            {% endif %}</td>
                            <td>
                            {% if cours.getCoursH() != 0 %}
                            {{cours.getCoursH()}}
                            {% endif %}</td>
                            <td>{% if cours.getCTdH() != 0 %}
                            {{cours.getCTdH()}}
                            {% endif %}</td>
                            <td>{% if cours.getTdH() != 0 %}
                            {{cours.getTdH()}}
                            {% endif %}</td>
                            <td>{% if cours.getTpH() != 0 %}
                            {{cours.getTpH()}}
                            {% endif %}</td>
                            <td>{% if cours.getProjetH() != 0 %}
                            {{cours.getProjetH()}}
                            {% endif %}</td>
                            <td></td>
                            <td>{% if cours.getStageH() != 0 %}
                            {{cours.getStageH()}}
                            {% endif %}</td>
                        </tr> 
                        {%endfor%}    
                        {%endif%}   
                        {%endfor%}     
                        </tbody>
                    </table>
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
</section>
