<!-- Content Header (Page header) -->
{% set cours = {'id': 'id','nomCours': 'nomCours','idFormation':'idFormation','coefficient':'coefficient','idUE':'idUE'} %}

<section class="content-header">
    <h1>
        Mon espace
    </h1>
    <!--
    <ul>
        <li>{{ cours.id }}</li>
        <li>{{ cours.nomCours }}</li>
        <li>{{ cours.idFormation }}</li>
        <li>{{ cours.coefficient }}</li>
        <li>{{ cours.idUE }}</li>
    </ul>
    -->
</section>

<!-- Content -->
<section class="content">
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom" style="min-height: 400px;">    <!-- A MODIFIER ? -->
        <!-- TODO : a charger dans la BDD + attribuer grace a la BDD la valeur de href pour
            l'anglais est "anglais" par exemple, pareil pr tous les autres -->
        <nav class="navbar navbar-perso" style="margin-bottom:0;border-top: 2px solid #009FFA;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;border-left: none;border-right: none;border-bottom: 1px solid #EEEEEE;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="border-color: #009FFA;">
                        <span class="sr-only">Toggle navigation</span>  <!-- Pas necessaire j'ai l'impression -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Mon espace</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-perso" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="ul_navbar_onglets">
                        <li class="active">
                            <a id="navbar_onglet1" href="#Anglais" data-toggle="tab">Anglais
                                <!-- <span class="sr-only">(current)</span>  Pas necessaire j'ai l'impression -->
                            </a>
                        </li>
                        <li><a id="navbar_onglet2" href="#Espagnol" data-toggle="tab">Espagnol</a></li>
                        <li><a id="navbar_onglet3" href="#tab_3" data-toggle="tab">GP</a></li>
                        <li><a id="navbar_onglet4" href="#tab_4" data-toggle="tab">ME</a></li>
                        <li><a id="navbar_onglet5" href="#tab_5" data-toggle="tab">Droit</a></li>
                        <li><a id="navbar_onglet6" href="#tab_6" data-toggle="tab">Gestion d'entreprise</a></li>
                        <li><a id="navbar_onglet7" href="#tab_7" data-toggle="tab">PPP1</a></li>
                        <li><a id="navbar_onglet8" href="#tab_8" data-toggle="tab">CO</a></li>
                        <li id="last_onglet"><a id="navbar_onglet9" href="#tab_9" data-toggle="tab">C++</a></li>

                        <!-- Dropdown ==> a afficher si il y a plus de 9 onglets -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Autres <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Le reste des espaces -->
                                <li id="onglet_dropdown_1">
                                    <a id="navbar_onglet10" href="#tab_10" data-toggle="tab" onclick="changeOnglet('onglet_dropdown_1', 'last_onglet')">
                                        Langages formels et automates
                                    </a>
                                </li>
                                <li id="onglet_dropdown_2">
                                    <a id="navbar_onglet11" href="#tab_11" data-toggle="tab" onclick="changeOnglet('onglet_dropdown_2', 'last_onglet')">
                                        Projet compilation
                                    </a>
                                </li>
                                <li id="onglet_dropdown_3">
                                    <a id="navbar_onglet12" href="#tab_12" data-toggle="tab" onclick="changeOnglet('onglet_dropdown_3', 'last_onglet')">
                                        Compilation
                                    </a>
                                </li>
                                <li id="onglet_dropdown_4">
                                    <a id="navbar_onglet13" href="#tab_13" data-toggle="tab" onclick="changeOnglet('onglet_dropdown_4', 'last_onglet')">
                                        P.N.E.</a>
                                </li>
                                <li id="onglet_dropdown_5">
                                    <a id="navbar_onglet14" href="#tab_14" data-toggle="tab" onclick="changeOnglet('onglet_dropdown_5', 'last_onglet')">
                                        P.S.
                                    </a>
                                </li>
                                <li id="onglet_dropdown_6">
                                    <a id="navbar_onglet15" href="#tab_15" data-toggle="tab" onclick="changeOnglet('onglet_dropdown_6', 'last_onglet')">
                                        Base de données
                                    </a>
                                </li>
                                <li id="onglet_dropdown_7">
                                    <a id="navbar_onglet16" href="#tab_16" data-toggle="tab" onclick="changeOnglet('onglet_dropdown_7', 'last_onglet')">
                                        Réseaux avancés
                                    </a>
                                </li>
                                <!-- Bouton pour s'inscrire a un espace
                                <li class="divider"></li>
                                <li><a href="#">S'inscrire à un espace</a></li>
                                -->
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#modal_inscription" data-toggle="modal">S'inscrire à un espace</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="tab-content">
            <!-- Contenu anglais -->
            <div class="tab-pane active" id="Anglais">
                <h4 style="margin-left:10px;">
                    Anglais
                    <button type="button" class="btn btn-primary pull-right" href="#modal_desinscription" data-toggle="modal" onclick="changeModal('Anglais', 'nomEspace', 'button_oui_modal')">
                        Se désinscrire
                    </button>
                </h4>

                <section class="sidebar sidebar-space">
                    <ul class="sidebar-menu">
                        <!-- Cours -->
                        <li class="treeview">
                            <a href="#" id="">
                                <span>Cours</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <!-- Contenu -->
                            <ul class="treeview-menu">
                                <a href="#"><i class="fa fa-paperclip"></i> Cours1.pdf</a>
                                <a href="#"><i class="fa fa-paperclip"></i> Cours2.pdf</a>
                            </ul>
                        </li>
                        <!-- Exercices TOEIC -->
                        <li class="treeview">
                            <a href="#" id="">
                                <span>Exercices TOEIC</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <!-- Contenu -->
                            <ul class="treeview-menu">
                                <a href="#"><i class="fa fa-paperclip"></i> TOEIC1.pdf</a>
                                <a href="#"><i class="fa fa-paperclip"></i> TOEIC2.pdf</a>
                                <a href="#"><i class="fa fa-paperclip"></i> TOEIC3.pdf</a>
                                <a href="#"><i class="fa fa-paperclip"></i> TOEIC4.pdf</a>
                            </ul>
                        </li>
                        <!-- Homework -->
                        <li class="treeview">
                            <a href="#" id="">
                                <span>Homework</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <!-- Contenu -->
                            <ul class="treeview-menu">
                                <a href="#"><i class="fa fa-paperclip"></i> Exercise_ethics.pdf</a>
                                <a href="#"><i class="fa fa-paperclip"></i> Exercise_negotiation.pdf</a>
                            </ul>
                        </li>
                        <!-- Divers -->
                        <li class="treeview">
                            <a href="#" id="">
                                <span>Divers</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <!-- Contenu -->
                            <ul class="treeview-menu">
                                <a href="#"><i class="fa fa-paperclip"></i> Planning_salle.pdf</a>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div>

            <!-- Contenu espagnol -->
            <div class="tab-pane" id="Espagnol">
                <h4 style="margin-left:10px;">
                    Espagnol
                    <button type="button" class="btn btn-primary pull-right" href="#modal_desinscription" data-toggle="modal" onclick="changeModal('Espagnol', 'nomEspace', 'button_oui_modal')">
                        Se désinscrire
                    </button>
                </h4>

                <section class="sidebar sidebar-space">
                    <ul class="sidebar-menu">
                        <!-- Cours -->
                        <li class="treeview">
                            <a href="#" id="">
                                <span>Cours</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <!-- Contenu -->
                            <ul class="treeview-menu">
                                <a href="#"><i class="fa fa-paperclip"></i> Cours1.pdf</a>
                                <a href="#"><i class="fa fa-paperclip"></i> Cours2.pdf</a>
                            </ul>
                        </li>
                        <!-- Exercices TOEIC -->
                        <li class="treeview">
                            <a href="#" id="">
                                <span>Exercices</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <!-- Contenu -->
                            <ul class="treeview-menu">
                                <a href="#"><i class="fa fa-paperclip"></i> Exercice1.pdf</a>
                            </ul>
                        </li>
                    </ul>
                </section>
            </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
    </div><!-- nav-tabs-custom -->

    <!-- Debut modal view - inscription -->
    <div class="modal fade" id="modal_inscription">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- En tete -->
                <div class="modal-header modal-header-task">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <div class="modal-title">Inscription à un espace</div>
                </div>

                <!-- Corps -->
                <div class="modal-body">
                    <p>Veuillez sélectionner un espace :</p>
                    <!-- Listes des espaces disponibles et ou l'etudiant peut s'inscrire -->
                    <div class="form-group" style="margin-top: 10px;">
                        <select class="form-control" id="list_espaces">
                            <option selected="selected"></option>
                            <option value="Projet Web">Projet Web</option>
                            <option value="P.D.I.">P.D.I.</option>
                            <option value="PPP2">PPP2</option>
                        </select>
                    </div>
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="addEspace('list_espaces')">Valider</button>
                    <button class="btn btn-primary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>

    <!-- Debut modal view - desinscription -->
    <div class="modal fade" id="modal_desinscription">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- En tete -->
                <div class="modal-header modal-header-task">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <div class="modal-title">Confirmation de désinscription</div>
                </div>

                <!-- Corps -->
                <div class="modal-body">
                    <p>Voulez-vous vraiment vous désinscrire de l'espace <b id="nomEspace"></b> ?</p>
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <!-- onclick a appeler par js -->
                    <button class="btn btn-success" data-dismiss="modal" id="button_oui_modal">Oui</button>
                    <button class="btn btn-primary" data-dismiss="modal">Non</button>

                </div>
            </div>
        </div>
    </div>
</section>