<!-- Content Header (Page header) -->
{% set cours = {'id': 'id','nomCours': 'nomCours','idFormation':'idFormation','coefficient':'coefficient','idUE':'idUE'} %}

<section class="content-header">
    <h1>
        Mon espace
    </h1>
    <ul>
        <li>{{ cours.id }}</li>
        <li>{{ cours.nomCours }}</li>
        <li>{{ cours.idFormation }}</li>
        <li>{{ cours.coefficient }}</li>
        <li>{{ cours.idUE }}</li>
    </ul>
</section>
